##**Lists**

In [3]:
#Create number list
List1 = [1,24,76]
print("Number List: ",List1)
#Create string list
colors = ['red','yellow','blue']
print("String List: ",colors)
#Create mix number and string list
mix = ['red',24,98.6]
print('Mix List: ',mix)
#Create multi-element in list
nested = [1,[5,6],7]
print("Multi-Element List: ",nested)
#Create empty list
emp = []
print("Empty List: ",[])

Number List:  [1, 24, 76]
String List:  ['red', 'yellow', 'blue']
Mix List:  ['red', 24, 98.6]
Multi-Element List:  [1, [5, 6], 7]
Empty List:  []

## **Accessing Lists**

In [4]:
list1 = ['Egypt','Chemistry',2017,2018]
list2 = [1,2,3,[4,5]]
list3 = ['a',3.7,'330',"Omar"]
print("Value of index 2 in List1 is: ",list1[2])
print("Values from index 2 til the end in List2 are: ",list2[3:])
print("Values from index -3 to -1 in List3 are: ",list3[-3:-1])
print("Value of index -3 in List3 is:",list3[-3])

Value of index 2 in List1 is:  2017
Values from index 2 til the end in List2 are:  [[4, 5]]
Values from index -3 to -1 in List3 are:  [3.7, '330']
Value of index -3 in List3 is: 3.7

## **Adding and Updating Lists**

In [7]:
#Create list
courses = ["OOP","Networking","MIS","Project"]
student = ["Ahmed","Ali","Salim","Abdullah","Salwa"]
#Example , only three students that have OOP_marks and Project_marks
OOP_marks = [65,85,92]
Project_marks = [75,80,85]
print("OOP Marks Before appending element: ",OOP_marks)
print("Project Marks before extending element: ",Project_marks)
OOP_marks.append(50)
OOP_marks.append(77)
OOP_marks[0] = 70
OOP_marks[1] = 45
print("OPP Marks after updating element 0 and 1: ", OOP_marks)
Extend_mark = [88,93]
Project_marks.extend(Extend_mark)
print("Project Marks after extending elements: ",Project_marks)

OOP Marks Before appending element:  [65, 85, 92]
Project Marks before extending element:  [75, 80, 85]
OPP Marks after updating element 0 and 1:  [70, 45, 92, 50, 77]
Project Marks after extending elements:  [75, 80, 85, 88, 93]

##**Deleting an Element from a list**

In [8]:
OOP_marks = [70,45,92,50,77,45]
print("Original List: ",OOP_marks)
del OOP_marks[0]
print("Using del on index 0: ",OOP_marks)
OOP_marks.remove(45)
print("Using remove() to remove element 45 from list: ",OOP_marks)
OOP_marks.pop(2)
print("Using pop() to remove index 2: ",OOP_marks)

Original List:  [70, 45, 92, 50, 77, 45]
Using del on index 0:  [45, 92, 50, 77, 45]
Using remove() to remove element 45 from list:  [92, 50, 77, 45]
Using pop() to remove index 2:  [92, 50, 45]

##**Basic List Operation**

In [13]:
print(len([5,"Omar",3]))
print([3,4,1]+["Omar",5,6])
print(['Eg!']*4)
print(3 in [1,2,3])
for x in [1,2,3]:
  print(x,end = '')

3
[3, 4, 1, 'Omar', 5, 6]
['Eg!', 'Eg!', 'Eg!', 'Eg!']
True
123

##**List Sorting**

In [17]:
tickets = [41,12,9,74,3,15]
print(tickets)
tickets.sort()
print(tickets)
print("\nSorted list elements")
for tickets in tickets:
  print(tickets)

[41, 12, 9, 74, 3, 15]
[3, 9, 12, 15, 41, 74]

Sorted list elements
3
9
12
15
41
74

##**Buid-in Functions and Lists**

In [18]:
tickets = [3,41,12,9,74,15]
print(tickets)
print(len(tickets))
print(max(tickets))
print(min(tickets))
print(sum(tickets))
print(sum(tickets)/len(tickets))

[3, 41, 12, 9, 74, 15]
6
74
3
154
25.666666666666668

##**Lists and Strings**

In [25]:
Word = 'Egypt'
List1 = list(Word)
print(List1)

Greeting = 'Welcome-to-Egypt'
delimiter = '-' #split based on '-'
List2 = Greeting.split(delimiter)
print(List2)

Greeting = 'Welcome to Egypt'
List2 = Greeting.split()
print(List2)
print(List2[2])

List1 = ['Welcome','to','Egypt']
delimiter = ' ' #Join by space
delimiter.join(List1)

['E', 'g', 'y', 'p', 't']
['Welcome', 'to', 'Egypt']
['Welcome', 'to', 'Egypt']
Egypt

'Welcome to Egypt'

##**Tuple**

In [26]:
Names = ('Omar','Ali','Bahaa')
Marks = (75,65,95)
print(Names[2])
print(Marks)
print(max(Marks))
for name in Names:
  print(name)

Bahaa
(75, 65, 95)
95
Omar
Ali
Bahaa

##**Concatenating Tuples**

In [27]:
MarksCIS=(70,85,55)
MarksCIN=(90,75,60)
Combined=MarksCIS + MarksCIN
print(Combined)

(70, 85, 55, 90, 75, 60)

##**Accessing value in Tuples**

In [28]:
print("The third mark in CIS is ", MarksCIS[2])
print("The third mark in CIN is ", MarksCIN[2])

The third mark in CIS is  55
The third mark in CIN is  60

##**Sets**

In [31]:
my_set = {1,2,3}
print(my_set)

my_set = {1.0,"Hello",(1,2,3)}
print(my_set)

my_set = {1,2,3,4,3,2}
print(my_set)

my_set = set([1,2,3,2]) #duplicate value are adjust to 1 value
print(my_set)

#my_set = {1,2,[3,4]} set can't contain list

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}
{1, 2, 3, 4}
{1, 2, 3}

**Crete an empty set**

In [32]:
a = {}
print(type(a))
a2 = set()
print(type(a2))

<class 'dict'>
<class 'set'>

**Modifying a set**

In [33]:
my_set = {1,3}
print(my_set)
#my_set[0]
#if you uncomment the above line
#you will get an error
#TypeError : 'set' object does not support indexing

#add an element
#output: {1,2,3}
my_set.add(2)
print(my_set)

my_set.update([2,3,4])
print(my_set)

my_set.update([4,5],{1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

**Removeing elements from a set**

In [34]:
my_set = {1,3,4,5,6}
print(my_set)

my_set.discard(4)
print(my_set)

my_set.remove(6)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}

In [35]:
my_set = set("HelloWorld")
print(my_set)
print(my_set.pop())
my_set.pop()
print(my_set)

my_set.clear()
print(my_set)

{'W', 'd', 'e', 'o', 'l', 'H', 'r'}
W
{'e', 'o', 'l', 'H', 'r'}
set()

In [39]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

#Union
print(A | B)
print(A.union(B))

#difference
print(A&B)
print(A.intersection(B))

#symmetric difference
print(A&B)
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [41]:
Prices = {"Honda" : 4000, "Suzuki":50000 ,"Mercedes":85000 , "Nissan":35000,"Mitsubishi":43000 }
print(Prices)

STDMarks = dict()
STDMarks['Salea Ahmed'] = 50
STDMarks['Abdullah Mohamed'] = 80
STDMarks['Sultan Ghanim']=90
print(STDMarks)

{'Honda': 4000, 'Suzuki': 50000, 'Mercedes': 85000, 'Nissan': 35000, 'Mitsubishi': 43000}
{'Salea Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90}

**Updating and Adding a New Item to a Dictionary**

In [42]:
STDMarks = {"Salwa Amed":50, "Abdullah Mohamed":80 , "Sultan Ghanim" : 90}
STDMarks['Salwa Amed'] = 85
STDMarks['Omar majid'] = 74
print(STDMarks)

{'Salwa Amed': 85, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90, 'Omar majid': 74}

**Accessing Dictionnary Element**

In [45]:
Staff_salary = {'Omar Ahmed':3000 , "Ali Ziad":24000, 'Ossama Hashim':25000 , 'Majid Hatem':10000}
print('Salary package for Ossama Hashim is ',end= '')
print(Staff_salary['Ossama Hashim'])
def Netsalary(salary):
  return salary - (salary*0.05)
print("Name", '\t\t',"Net Salary")
for key,value in Staff_salary.items():
  print(key, '\t' , Netsalary(value))

Salary package for Ossama Hashim is 25000
Name 		 Net Salary
Omar Ahmed 	 2850.0
Ali Ziad 	 22800.0
Ossama Hashim 	 23750.0
Majid Hatem 	 9500.0

**Alter a Dictionary**

In [48]:
STDMarks = {'Salwa Ahmed':50,'Abdullah Mohamed':80 , 'Sultan Ghanim':90}
print(STDMarks)

del STDMarks['Abdullah Mohamed']
print(STDMarks)

STDMarks.clear()
print(STDMarks)
del STDMarks

{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90}
{'Salwa Ahmed': 50, 'Sultan Ghanim': 90}
{}

**Built-in Dictionary Functions**

In [51]:
Staff_Salary = {'Omar Ahmed':30000 , 'Ali Ziad':24000, "Ossama Hashim" : 25000 , "Majid Hatem":10000}
STDMarks = {"Salwa Ahmed":50 , "Abdullah Mohamed":80 , 'Sultan Ghanim':90}
def cmpOwn(a,b):
  for key,value in a.items():
    for key1,value1 in b.items():
      return (key>key1)- (key < key1)
print(cmpOwn(STDMarks,Staff_Salary))
print(cmpOwn(STDMarks,STDMarks))
print(len(STDMarks))
print(str(STDMarks))
print(type(STDMarks))

1
0
3
{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90}
<class 'dict'>

In [52]:
print(Staff_Salary.get('Ali Ziad'))
print(STDMarks.items())
print(Staff_Salary.keys())

STDMarks.setdefault('Ali Ziad')
print(STDMarks)
print(STDMarks.update(Staff_Salary))
print(STDMarks)

24000
dict_items([('Salwa Ahmed', 50), ('Abdullah Mohamed', 80), ('Sultan Ghanim', 90)])
dict_keys(['Omar Ahmed', 'Ali Ziad', 'Ossama Hashim', 'Majid Hatem'])
{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90, 'Ali Ziad': None}
None
{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90, 'Ali Ziad': 24000, 'Omar Ahmed': 30000, 'Ossama Hashim': 25000, 'Majid Hatem': 10000}

In [55]:
import pandas as pd
import numpy as np

a = pd.Series([1,2,2,np.nan],index = ['p','q','r','s'])
a

p    1.0
q    2.0
r    2.0
s    NaN
dtype: float64

In [56]:
Series1 = pd.Series(np.random.randn(4),index=['a','b','c','d'])
print(Series1)
print(Series1.index)
print("Series slicing")
print(Series1[:3])
print("Index accessing")
print(Series1[[3,1,0]])
print("Single index")
x = Series1[0]
print(x)

a    1.795373
b   -0.441865
c   -0.375715
d   -0.167561
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')
Series slicing
a    1.795373
b   -0.441865
c   -0.375715
dtype: float64
Index accessing
d   -0.167561
b   -0.441865
a    1.795373
dtype: float64
Single index
1.7953730908759586

In [59]:
from pandas.core.series import Series
Series2 = pd.Series(np.random.randn(4))
print(Series2)
print(Series2.index)
print("Series Sample operations")
print("Series value greater than the mean: %.4f"%Series2.mean())
print(Series2 [Series2 > Series2.mean()])
print("Series value greater than the Median:%.4f"%Series2.median())
print(Series2[Series2 > Series2.median()])

0   -1.895307
1    0.722391
2    0.820733
3   -0.695554
dtype: float64
RangeIndex(start=0, stop=4, step=1)
Series Sample operations
Series value greater than the mean: -0.2619
1    0.722391
2    0.820733
dtype: float64
Series value greater than the Median:0.0134
1    0.722391
2    0.820733
dtype: float64

In [60]:
dict = {'m' : 2 , 'y' : 2018, 'd': 'Sunday'}
print("Series of non declared index")
SeriesDict1 = pd.Series(dict)
print(SeriesDict1)
print("Series of declared index")
SeriesDict2 = pd.Series(dict,index = ['y','m','d','s'])
print(SeriesDict2)
print("Use the get and set method to access a series values by index label")
SeriesDict2 = pd.Series(dict, index=['y','m','d','s'])
print(SeriesDict2['y'])
print(SeriesDict2.get('y'))

Series of non declared index
m         2
y      2018
d    Sunday
dtype: object
Series of declared index
y      2018
m         2
d    Sunday
s       NaN
dtype: object
Use the get and set method to access a series values by index label
2018
2018

In [61]:
print("Create series from scalar value")
Sc1 = pd.Series(8., index=['a','b','c','d'])
print(Sc1)

Create series from scalar value
a    8.0
b    8.0
c    8.0
d    8.0
dtype: float64

**Vectorized Operations and Label Alignment with Series**

In [62]:
SerX = pd.Series([1,2,3,4],index=['a','b','c','d'])
print("Addition")
print(SerX + SerX)
print("Addition with non-matched labels");
print(SerX[1:] + SerX[:-1])
print("Multiplication")
print(SerX * SerX)
print("Exponential");
print(np.exp(SerX))

Addition
a    2
b    4
c    6
d    8
dtype: int64
Addition with non-matched labels
a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64
Multiplication
a     1
b     4
c     9
d    16
dtype: int64
Exponential
a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64

**Using a Series Name Attribute**

In [64]:
std = pd.Series([77,89,65,90],name = 'StudentsMarks')
print(std.name)
std = std.rename("Marks")
print(std.name)

StudentsMarks
Marks

**Creating a DataFrame from a Dict of Series**

In [70]:
dict1 = {'one' : pd.Series([1.,2.,3.],index=['a','b','c']),
         'two' : pd.Series([1.,2.,3.,4.],index=['a','b','c','d'])}
df = pd.DataFrame(dict1)
print(df, "\n")
df1 = pd.DataFrame(dict1,index = ['d','b','a'])
print(df1,'\n')
df2 = pd.DataFrame(dict1,index = ['d','b','a'], columns = ['two','three','one'])
print(df2)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

   two three  one
d  4.0   NaN  NaN
b  2.0   NaN  2.0
a  1.0   NaN  1.0

**Creating Data Frames from a Dict of Ndarrys/Lists**

In [71]:
ndarrdict = {'one':[1.,2.,3.,4.],'two':[4.,3.,2.,1.]}
df = pd.DataFrame(ndarrdict)
print(df,"\n")
#Assign index
df1 = pd.DataFrame(ndarrdict,index=['a','b','c','d'])
print(df1)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

**Creating Data Frames from a Structured or Record Array**

In [72]:
data = np.zeros((2,),dtype=[('A','i4'),('B','f4'),('C','a10')])
data[:] = [(1,2.,'Hello'),(2,3.,"World")]
df = pd.DataFrame(data)
print(df,'\n')
df1 = pd.DataFrame(data,index=['First','Second'])
print(df1,"\n")
print(df1,'\n')
df2 = pd.DataFrame(data, columns=['C','A','B'])
print(df2)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

        A    B         C
First   1  2.0  b'Hello'
Second  2  3.0  b'World'

        A    B         C
First   1  2.0  b'Hello'
Second  2  3.0  b'World'

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

In [73]:
data2 = [{"A":1 , "B":2},{"A":5 , "B":10 ,"C":20}]
df = pd.DataFrame(data2)
print(df,"\n")
df1 = pd.DataFrame(data2, index=['First',"Second"])
print(df2,"\n")
df2 = pd.DataFrame(data2, columns = ["A","B"])
print(df2)

   A   B     C
0  1   2   NaN
1  5  10  20.0

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

   A   B
0  1   2
1  5  10

**DataFramw Column Selection Addition Deletion**

In [74]:
ndarrdict = {'one' : [1.,2.,3.,4.], 'two':[4.,3.,2.,1.]}
df = pd.DataFrame(ndarrdict,index = ['a','b','c','d'])
df

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [76]:
df['three'] = df['one']*df['two']
df['flag']= df['one']>2
df

   one  two  three   flag
a  1.0  4.0    4.0  False
b  2.0  3.0    6.0  False
c  3.0  2.0    6.0   True
d  4.0  1.0    4.0   True

In [77]:
df['Filler'] = 'HCT'
df['Slic'] = df['one'][:2]
df

   one  two  three   flag Filler  Slic
a  1.0  4.0    4.0  False    HCT   1.0
b  2.0  3.0    6.0  False    HCT   2.0
c  3.0  2.0    6.0   True    HCT   NaN
d  4.0  1.0    4.0   True    HCT   NaN

In [78]:
del df['two']
Three = df.pop('three')
df

   one   flag Filler  Slic
a  1.0  False    HCT   1.0
b  2.0  False    HCT   2.0
c  3.0   True    HCT   NaN
d  4.0   True    HCT   NaN

In [79]:
df.insert(1,'bar',df['one'])
df

   one  bar   flag Filler  Slic
a  1.0  1.0  False    HCT   1.0
b  2.0  2.0  False    HCT   2.0
c  3.0  3.0   True    HCT   NaN
d  4.0  4.0   True    HCT   NaN

**Assingning New columns in Method Chains**

In [81]:
df = pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
df = df.assign(C=lambda x: x['A']+ x['B'])
df = df.assign(D=lambda x: x['A']+ x['C'])
df

   A  B  C   D
0  1  4  5   6
1  2  5  7   9
2  3  6  9  12

In [82]:
df = df.assign(A = lambda x:x['A']*2)
df

   A  B  C   D
0  2  4  5   6
1  4  5  7   9
2  6  6  9  12

In [83]:
df.T #Transposing

   0  1   2
A  2  4   6
B  4  5   6
C  5  7   9
D  6  9  12

In [84]:
df.T.dot(df)

     A    B    C    D
A   56   64   92  120
B   64   77  109  141
C   92  109  155  201
D  120  141  201  261